<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @car.brand %>
</p>

<p>
  <b>Engine type:</b>
  <%= @car.engine_type %>
</p>

<p>
  <b>Is working:</b>
  <%= @car.is_working %>
</p>

<p>
  <b>Description:</b>
  <%= @car.description %>
</p>

<p>
  <b>Kilometers:</b>
  <%= @car.kilometers %>
</p>

<p>
  <b>Last registration:</b>
  <%= @car.last_registration %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
